<div class="grid-item">
   <p>
      Hi! My name is Ben. I am a confident, charismatic and enthusiastic Software Engineer with 
      5 years of experience. Working as both a Back-End and Full-Stack Developer during
      my career, I have learned a plethora of skills and tools preparing me for any challenge.
   </p>
   <p>
      I crave new opportunities to learn and grow beyond my present skills.
      In my free time I take it upon myself to do projects that my day-to-day
      work normally does not allow me to do. This personal website is one of
      those opportunities to grow my skills. It doesn't matter what it is,
      pushing your limits will make you a better developer and person. 
   </p>
   <p>
      Please feel free to navigate to my linkedIn page for my work history 
      or my Github for my current projects.
   </p>
      
   <p class="quote">“Our greatest weakness lies in giving up.” – Thomas A. Edison</p>
</div>