<div class="grid-item">
   <p>
      Hi! My name is Ben Whiting. I am a confident and enthusiastic Software Engineer with 
      5 years of experience. Working as both a Back-End and Full-Stack Developer during
      my career, I have learned a plethora of skills and tools preparing me for any challenge.
      From designing and building APIs, to miscroservice deployments in containerized environment
      I am ready to produce a sleek and elegent solution.
   </p>
   <p>
      I crave new opportunities to learn and grow beyond my present skills.
      In my free time I do coding projects that my day-to-day work normally
      does not allow me to do or I create tools that help friends and family. 
      This personal website is one of those opportunities to grow my skills.
      It allows me to push my limits and makes me a better developer and person. 
   </p>
   <p>
      Please feel free to navigate to my LinkedIn page for my work history 
      or my GitHub for my current projects.
   </p>
      
   <p class="quote">“Our greatest weakness lies in giving up.” – Thomas A. Edison</p>
</div>
