<h2>Welcome!</h2>
<p>I am a confident, charismatic and enthusiastic Software Engineer who is eager 
   to develop and deploy systems for innovative applications. I crave new challenges
   to learn and grow beyond my present skills. I am primarily a backend developer, but
   in my free time I take it upon myself to do projects that my day-to-day work normally
   does not allow me to do. This personal website is one of those opportunities to grow 
   my skills. It doesn't matter what it is, pushing your limits will make you a
   better developer and person.</p>
   
<p>“I have not failed. I’ve just found 10,000 ways that won’t work.” – Thomas A. Edison</p>